.phpunit.result.cache
composer.lock
composer.phar
/vendor/

-dev-overrides/*
!-dev-overrides/cert/
-dev-overrides/cert/*
!-dev-overrides/cert/saml/
-dev-overrides/cert/saml/*
!-dev-overrides/cert/saml/.gitkeep
!-dev-overrides/cert/ssl/
-dev-overrides/cert/ssl/*
!-dev-overrides/cert/ssl/.gitkeep
!-dev-overrides/config/
-dev-overrides/config/*
!-dev-overrides/config/.gitkeep
!-dev-overrides/metadata/
-dev-overrides/metadata/*
!-dev-overrides/metadata/.gitkeep
!-dev-overrides/nginx/
-dev-overrides/nginx/*
!-dev-overrides/nginx/.gitkeep

/*/.gitignore
vendor/*
!/vendor/autoload.php
!/vendor/composer/
!/vendor/symfony/
!/vendor/tecnickcom/
/vendor/tecnickcom/*
!/vendor/tecnickcom/tcpdf/
!/vendor/phpmailer/
/vendor/phpmailer/*
!/vendor/phpmailer/phpmailer/
/uploads/*
!/uploads/.htaccess
.tests/*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.docker/*
!.docker/www/
.docker/www/*
!.docker/www/.gitkeep


#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares

.tests/*


#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

php_errors.log

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

# phpenv local config
.php-version

/results/
/phpunit*.xml
/.phpunit.*.cache
