.gitattributes merge=ours
package.json merge=ours
README.md merge=ours

*.directory export-ignore
*.git export-ignore
*.gitignore export-ignore
*.gitattributes export-ignore
.gitmodules export-ignore
*.distignore export-ignore
.docker/ export-ignore
.dockerignore export-ignore
Dockerfile export-ignore
docker-compose.yml export-ignore
docker-compose--dev-overrides.yml export-ignore
-dev-overrides.yml export-ignore
.tests export-ignore
.npmrc export-ignore
.env export-ignore
.travis.yml export-ignore
.gitlab-ci.yml export-ignore
.github export-ignore
*.sass-cache export-ignore
*node_modules export-ignore
.jscsrc export-ignore
.jshintignore export-ignore
.jshint export-ignore
package-lock.json export-ignore
package.json export-ignore
Gruntfile.js export-ignore
composer.json export-ignore
composer.lock export-ignore
phpcs.xml export-ignore
behat.yml export-ignore
.editorconfig export-ignore
.vscode export-ignore
*scss export-ignore

cert/ export-ignore
config/ export-ignore
metadata/ export-ignore
.markdownlintignore export-ignore
.markdownlintrc export-ignore
.php_cs.dist export-ignore
codecov.yml export-ignore
phpunit.xml export-ignore
psalm.xml export-ignore