{% set pagetitle = 'Welcome'|trans %}

{% extends "@core/base.twig" %}

{% block content %}
    <h1>{{ 'Welcome'|trans }}</h1>

    <p>{{ 'Welcome to the authentication of Universidade Aberta (UAb)'|trans }}</p>

{% endblock %}
