<footer class="footer w-100">

  <div class="institutional-links">

  </div>
  <div class="copyrights w-100 color-change">
    {% block copyright %}
      {% include '_copyright.twig' %}
    {% endblock %}
  </div>
</footer>