.page-title{
    text-align: left;
}

.user-attributes{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}
.user-attributes dt{
    font-weight: 600;
    color: var(--transition-color-middle, #207299);
    font-size: 0.9rem;
}

.user-attributes dd{
    min-height: 1.5rem;
}

.user-attributes .attribute-is-empty{
    font-size: 0.9rem;
    color: #aaa;
}

.user-attributes-wrapper{
    padding-right: 4rem;
}
.admin-links{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0; 
    flex-direction: column;
}
.admin-links li{
    position: relative;
}
.profile-links .admin-links a.admin-link{
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    align-items: center;
    position: relative;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}
.admin-links a,
.admin-links a:is(:focus, :hover, :active){
    text-decoration: none;
    transition: none;
}
.admin-links a:is(:focus, :hover, :active),
.admin-links a:is(:focus, :hover, :active) .link-icon{
    background-color: var(--transition-color-middle, #207299);
    color: white;
}
.admin-links a .link-icon{
    font-size: 1.2rem;
    padding: 0;
    width: var(--btn-width, 3.5rem);
    height: 2.5rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--transition-color-middle, #207299);
    box-sizing: border-box;
}
#tool-group-external-links.admin-links li:last-child a{
    margin-bottom: -2px;
    height: calc(100% + 2px);
    overflow: hidden;
}
.admin-links a .link-label {
    font-size: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 1rem;
    text-align: left;
}
.tool-group-label {
    position: relative;
    text-transform: uppercase;
    font-size: 0.5rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 0.5rem 0.4rem 0;

    transition: all 0s ease-in-out 0s;
}
#tool-group-external-links-label.tool-group-label::before{
    position: absolute;
    content: '';
    display: block;
    width: 50%;
    top: 0;
    left: 50%;
    translate: -50% 0;
    border-top: 1px solid rgba(79,123,170,.4);
    border-bottom: 1px solid rgba(255,255,255,.3);
}
#tool-group-external-links-label.tool-group-label{
    margin-top: 10px;
}
.admin-columns{
    position: relative;
}
.profile-links{
    --btn-width: 3.5rem;
    position: absolute;
    top: 50%;
    right: -25px;
    translate: 0 -50%;
    border: 2px groove;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width: 0;
    max-width: var(--btn-width, 3.5rem);
    transition: max-width 0.5s ease-in-out;

    background: linear-gradient(to left, #F9F6FC 0%,#F7F9FB 100%);
    border: 1px solid rgba(79,123,170,.4);
    color: #40648a;
    padding: 10px 0;
    max-height: 100%;
    overflow: hidden;
    z-index: 10;
}
.profile-links:is(:hover, :focus-within){
    max-width: 100%;
}

.profile-links:is(:hover, :focus-within) .tool-group-label {
    transition: all 0.1s ease-in-out 0.5s;
    font-size: 0.75rem;
    text-overflow: initial;
    font-weight: 600;
}

@media(min-width: 658px) {
    .profile-links {
        right: -62px;
    }
}