html, body {
    height: auto;
}

body {
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    background-color: #fff;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
    color: #555;
    line-height: 1.2em;
    font-weight: 500;
    border-bottom: 0 none;
    margin: 0.5rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accessibility-links {
    z-index: 9999999;
    position: fixed;
    top: 40px;
    left: 20px;
}
.js .hide-if-js,
.visually-hidden, 
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}
.visually-hidden-focusable, 
.visually-hidden-focusable:focus, 
.visually-hidden-focusable:focus-within {
    background-color: var(--visually-hidden-focusable--bg-color, white);
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: block;
    color: var(--visually-hidden-focusable--color, var(--transition-color-dark, #666));
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--visually-hidden-focusable--shadow-color, 666);
}

.w-100{
    width: 100%;
}

a {
    color: var(--transition-color-dark, #666);
    margin: 0;
    transition: all .3s;
}

a:is(:focus, :hover,:active) {
    text-decoration: none;
    color: #1797d2;
    border-color: #1797d2
}

a:is(:scope, :link, :visited, :focus, :hover, :active):not(.pure-button,.pure-menu-link, .visually-hidden, .visually-hidden-focusable){
    padding: 0;
    margin: 0;
    background-color: transparent;
}
a:is(:scope, :link, :visited):not(.pure-button),
#footer  a:is(:scope, :link, :visited):not(.pure-button){
    text-decoration: none;
}
a:is(:focus, :hover, :active):not(.pure-button),
#footer  a:is(:focus, :hover, :active):not(.pure-button){
    text-decoration: underline;
}

/* background and animations */
body{
    --transition-color-start:#1797D2;
    --transition-color-middle:#4687D0;
    --transition-color-end:#6A75C6;
    --transition-color-dark:#3C6392;
}
@keyframes color-change {
    0% { color: var(--transition-color-end, #864fe1); }
    25% { color: var(--transition-color-middle, #1797d2); }
    50% { color: var(--transition-color-start, #0cc898); }
    75% { color: var(--transition-color-middle, #1797d2); }
    100% { color: var(--transition-color-end, #864fe1); }
}
.color-change {
    animation: color-change 60s ease infinite;
    animation-delay: var(--color-animation-delay, 0);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    background: linear-gradient(250deg, var(--transition-color-start, #0cc898), var(--transition-color-middle, #1797d2), var(--transition-color-end, #864fe1));
    background-size: 300% 300%;
    animation: backgroundColorAnimation 60s ease infinite;
    animation-delay: var(--color-animation-delay, 0);
}

@keyframes backgroundColorAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.elements {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    filter: blur(5px);
}

.square {
    border: 10px solid rgb(237 237 237 / 0.10);
    transition: all 1s ease-in-out;
    animation-timing-function: linear;
    animation-name: movingSquares;
    animation-iteration-count: infinite;
    animation-delay: var(--animation-delay, 0);

    --scale-multiplier: 1;
}

@keyframes movingSquares {
    0% {
        transform: rotate(var(--initial-rotation, 0deg));
        opacity: 0.5;
    }

    50% {
        width: 1000px;
        height: 1000px;
    }

    100% {
        transform: rotate(calc(var(--initial-rotation, 0deg) + 360deg ));
        opacity: 1;
    }
}

.sq1 {
    width: calc(var(--scale-multiplier, 1) * 50vw);
    height: calc(var(--scale-multiplier, 1) * 70vh);
    animation-duration: var(--animation-duration, 43s);
}

.sq2 {
    width: calc(var(--scale-multiplier, 1) * 60vw);
    height: calc(var(--scale-multiplier, 1) * 160vh);
    animation-duration: var(--animation-duration, 90s);
}

.sq3 {
    width: calc(var(--scale-multiplier, 1) * 65vw);
    height: calc(var(--scale-multiplier, 1) * 80vh);
    animation-duration: var(--animation-duration, 60s);
}

@media (prefers-reduced-motion: reduce) {
    .background,
    .square,
    .color-change,
    a:is(:focus, :hover,:active){
        animation: none;
    }
}

/* layout */
.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.login-wrapper,
.meta-footer-wrapper {
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 62px 1.5rem .75rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.meta-footer-wrapper{
    background-color: rgba(0,0,0, 0.05);
    margin-top: 1rem;
    padding:0;
}

@media(min-width: 576px) {
    .login-wrapper {
        padding: 62px 60px .75rem;
    }
}

@media(min-width: 768px) {
    .login-wrapper {
        padding: 62px 110px .75rem;
    }
    .login-wrapper,
    .meta-footer-wrapper {
        width: 730px;
    }
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
a#brand-container {
    display: block;
    align-self: center;
    padding: 0.5rem 1.5rem 0.5rem;
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
a#brand-container,
a.color-change{
    transition-duration: 0s;
}
a#brand-container:is(:hover, :active, :focus),
a.color-change:is(:hover, :active, :focus){
    filter: hue-rotate(45deg);
}

/* language menu */
.login-language-bar{
    align-self: end;
    margin-bottom: 1rem;
    position: absolute;
    top: 15px;
    right: 1.5rem;
}
.login-language-menu{
    padding: 0.15rem 0.4rem;
    text-transform: uppercase;
    border: 0 none;
    background-color: transparent;
}

/* footer */
.footer{
    width: 100%;
}
.copyrights{
    border-top: 1px solid currentColor;
    margin-top: .75rem;
    padding-top: .75rem;
    height: auto;
    font-size: .8rem;
    text-align: center;
}
.copyright-text{
    color: #212529;
}
.meta-footer-wrapper{
    display: inline-block;
}
.meta-footer-wrapper-column{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    color: white;
    font-weight: bold;
}
.co-funded-by-label{
    margin-bottom: 1rem;
    font-size: .8rem;
}
ul.funding{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
ul.funding img{
    max-height: 30px;
    width: auto;
    filter: invert(1) hue-rotate(180deg);
}
ul.institutional-links{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 0.85rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 550px) {
    .meta-footer-wrapper-column{
        align-items: center;
    }
    ul.funding{
        flex-direction: row;
        gap: 1.5rem;
    }
    ul.institutional-links{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    ul.institutional-links li{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    ul.institutional-links li:not(:last-child):after{
        content: '\00B7';
        display: block;
        padding: 0 0.5rem;
    }
}

/* contents */
.message-box.warning{
    background-color: #fffdbf;
}

.message-box{
    margin: 1rem 0 3rem;
}

.page-title{
    width: 100%;
    display: block;
    font-family: "Montserrat";
    font-size: 1.5rem;
    color: #555;
    line-height: 3rem;
    text-align: center;
    font-weight: 500;
    border-bottom: 0 none;
    margin: 1rem 0 1rem;
}

/* authentication form */
.auth-sources-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.auth-sources-list li.authsource {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}
.auth-source-btn,
.sign-in-btn{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
    transition: all .4s;
    position: relative;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    border: 0 none;
    text-shadow: 0px 0px 2px rgb(238 238 238 / 95%);
    overflow: hidden;
    min-width: 0;
    gap: 0.5rem;
}
.sign-in-btn{
    background-color: #333;
    color: #fff;
}
.sign-in-btn-wrapper{
    margin-top: 1rem;
}
.auth-source-btn .authsource-label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pure-button-red,
.auth-sources-list li.authsource.authsource-current .auth-source-btn{
    background-color: var(--transition-color-dark, #207299);
    color: white;
}
.auth-source-btn:before{
    content: "";
    display: none;
    aspect-ratio: 1/1;
    width: auto;
    height: 1.5rem;
    background: transparent no-repeat center center;
    background-size: contain;
    filter: invert(1) hue-rotate(180deg);
    transition: all .4s;
}
.authsource-autenticacao-gov-pt .auth-source-btn:before{
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M33.239 63.986h-.027V64h-.436C14.679 64 0 49.675 0 32 0 14.339 14.679 0 32.776 0h.463v12.541h-.422c-11.016.014-19.922 8.701-19.922 19.446 0 10.757 8.919 19.444 19.935 19.444h.409zm4.834-27.424c-.436.192-.735.313-1.362.313-3.336 0-3.595-3.229-3.595-3.229v-5.474l.082-.626.082-.014h6.877v5.392c0 .001-.204 2.834-2.083 3.637zm17.607 0c-.436.192-.735.313-1.375.313-3.323 0-3.581-3.229-3.581-3.229v-5.474l.082-.626.082-.014h6.877v5.392c0 .001-.204 2.834-2.083 3.637zm-9.273 11.002c-.327.095-.504.148-.912.148-3.323 0-3.581-3.2-3.581-3.2v-5.486l.068.598.3-.027h6.672V45c0 .003-.245 1.965-2.546 2.564zm.449-11.002c-.436.192-.749.313-1.362.313-3.323 0-3.581-3.229-3.581-3.229v-5.474l.068-.626.3-.014h6.672v5.392c0 .001-.218 2.847-2.097 3.637zm-.449-10.69c-.327.082-.504.136-.912.136-3.323 0-3.581-3.2-3.581-3.2v-5.474l.068-.109.3-.041h6.672v5.42s-.245 2.654-2.546 3.268z'/%3E%3C/svg%3E");
}
.authsource-uab-ldap .auth-source-btn:before{
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill-rule='evenodd'%3E%3Cpath d='M26.653 43.629V42.59h-5.647v1.039h2.109V54.22c0 3.372-2.162 5.648-5.367 5.648-3.119 0-5.113-2.219-5.113-5.619v-10.62h2.108V42.59H8.055v1.039h2.109V55.12c0 3.68 3.005 6.378 7.079 6.378a8.45 8.45 0 0 0 3.905-.955c2.332-1.265 3.4-3.202 3.4-6.209V43.629zm10.648 10.058H31.12l3.175-7.895zm6.602 7.444v-1.068h-1.601L35.28 42h-1.012l-7.304 18.064h-1.46v1.068h5.365v-1.068h-2.331l2.05-5.056 7.192.028 1.968 5.056h-2.247v1.04zm12.703-6.771c0-3.679-2.163-6.293-5.225-6.293-.76 0-1.433.113-2.866.591v.927h2.051c2.249 0 3.625 1.91 3.625 4.973 0 3.371-1.938 5.758-4.69 5.758-.703 0-1.096-.111-2.024-.477V40.427h-.506l-4.045 1.096v.759h2.445v18.626c1.656.422 2.697.591 3.932.591 4.412 0 7.305-2.837 7.305-7.136M8.251.192h47.521V27.09H8.251z' fill='%23fff'/%3E%3Cg fill='none' stroke='%23fff' stroke-width='.373'%3E%3Cpath d='M55.744.186h8.07v26.898h-8.07zM.187.191h8.07v26.898H.187z'/%3E%3Cpath d='M8.243 27.068h47.521v8.082H8.243z'/%3E%3C/g%3E%3C/svg%3E");
}
.auth-source-btn:is(:hover,:focus,:active),
.sign-in-btn:is(:hover,:focus,:active) {
    background-color: var(--transition-color-middle, #207299);
    color: white;
}
.auth-source-btn:is(:hover,:focus,:active):before,
.authsource-current .auth-source-btn:before {
    filter: none;
}
/*
.auth-source-btn:is(:hover,:focus,:active) {
    color: white;
}
.auth-source-btn:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: linear-gradient(45deg,#00dbde,#fc00ff);
    opacity: 0;
    transition: all .4s;
}
.auth-source-btn:is(:hover,:focus,:active):after {
    opacity: 1;
} 
*/
@media screen and (min-width: 550px) {
    .auth-sources-list{
        flex-direction: row;
        gap: 1.5rem;
        margin: 1rem 0 2rem;
        flex-wrap: wrap;
    }
}

.focus-element-wrapper{
    position: relative;
}

.focus-element-wrapper .focus-form-element{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 2px solid var(--transition-color-end, #fc00ff);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
    transform: scaleX(1.1) scaleY(1.3);
    z-index: 1;
}
.focus-element-wrapper .has-focus-element{
    outline: 0;
}
.focus-element-wrapper .has-focus-element:is(:focus)+.focus-form-element,
.focus-element-wrapper button.has-focus-element:is(:hover, :active)+.focus-form-element {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/* login-form */
.login-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 0;
    align-items: stretch;
}

.login-form-group{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}
.login-form label{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1rem;
    color: #555;
    line-height: 1.5rem;
}

.login-form input:is([type="text"], [type="password"], [type="text"]),
.login-form select{
    font-family: Poppins;
    color: #333;
    line-height: 1.5rem;
    font-size: 1rem;
    display: block;
    width: 100%;
    background: 0 0;
    padding: 1rem 1.5rem;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.checkbox-wrapper input:is([type="checkbox"],[type="radio"]){
    width: 1.3rem;
    height: 1.3rem;
}
.cuddle-above{
    margin-top: -1rem;
}

.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}
.order-5{
    order: 5;
}
.order-6{
    order: 6;
}
.font-semi-bold{
    font-weight: 600;
}

.login-wrapper pre, 
.login-wrapper code, 
.login-wrapper kbd, 
.login-wrapper samp, 
.login-wrapper tt{
    white-space: normal;
    word-wrap: break-word;
}

.login-wrapper #push{
    height: auto;
}

.message-box {
    margin: 3rem 0 3rem;
}

p {
    margin-bottom: 0;
}
p+p {
    margin-top: 1em;
}