{% set pagetitle = 'Accessibility'|trans %}

{% extends "@core/base.twig" %}

{% block postload %}{% endblock %}

{% block content %}
    
    <h2>{{ 'Accessibility'|trans }}</h2>
    {% trans %}[@TODO: customize in your theme folder accordingly with your layout specifications.]{% endtrans %}
    
{% endblock %}
