{% set pagetitle = '%main Account Expired or Disabled'|trans({"%main": MainAccountProvider}) %}

{% extends "@core/base.twig" %}

{% block postload %}
    {#<script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>#}
{% endblock %}

{% block content %}
    
    <h1>{{ '%main Account Expired or Disabled'|trans({"%main": MainAccountProvider}) }}</h1>

    <p>{{ 'The %main account for "%primaryAccount" is disabled or it has expired. Please, contact technical support if you think this is an error.'|trans({"%main": MainAccountProvider, "%primaryAccount": PrimaryAccount}) }}</p>
    
{% endblock %}
