{% set pagetitle = 'Accessibility'|trans %}

{% extends "base.twig" %}

{% block postload %}{% endblock %}

{% block content %}
    
    <h2 class="page-title">{{ 'Accessibility'|trans }}</h2>
    {% trans %}@TODO{% endtrans %}
    
{% endblock %}
